/* Styles for the custom post part in the wp_admin Courses panel*/
.fieldCountainer{
    border-radius: 1em;
    background-color: rgba(0, 0, 255, 0.12);
    display: inherit;
    flex-direction: column;
    align-items:center;
    padding: 1em;
    width: 50%;
}

.fieldCountainer h6{
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.fieldCountainer input{
    display: flex;
    width: 80%;
}

/*STYLES for the custom template when displaying the course in the course view*/
.bodyTemplate{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(109, 137, 241, 0.357);
}

.courseContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1.5em;
    width: 70%;
    background-color: rgba(38, 55, 115, 0.357);
}

.topTemplate{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color:rgba(202, 138, 138, 0.552);
}

    .topTemplate h3 {
        margin: 0;
    }

    
.mainTemplate{
    display: flex;
    flex-direction: row;
    width: 90%;
    gap:1em;
    justify-content: center;
}

    .mainTemplate .leftSide{
        display: flex;
        flex-direction: column;
        background:tomato;
        width: 70%;
    }

    .mainTemplate .rightSide{
        
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items:center;
        background:rgb(215, 153, 142);
    }

.bottomTemplate{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color:aquamarine;
}

    .bottomTemplate .cards{
        display: flex;
        flex-direction: row;
        gap:2em;
        justify-content: space-around;
    }

    .bottomTemplate .cards .card{
        display: flex;
        flex-direction: column;
        width: 300px;
        outline: red solid 1px;;
        background-color:white;
    }
